@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #212121;
  transition-duration: 1s;
}

:root {
  font-size: 16pt;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  overflow: hidden;
  background-color: #fafafa;

  .time {
    font-size: 10rem;
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .buttons {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    right: 1rem;

    .btn {
      margin: 1rem;
      width: 7rem;
      height: 3rem;
      border: none;
      color: #fafafa;

      &:disabled {
        filter: grayscale(1);
      }
    }
  }

  svg {
    width: 25vw;
    position: absolute;
    left: 2rem;

    circle {
      fill: none;
      stroke-width: 2rem;
      // stroke-linecap: round;
    }
  }

  .bar-chart {
    position: absolute;
    left: 2rem;

    .bar-chart-element {
      width: 1.25rem;
    }
  }

  .save-indicator {
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    border-radius: 50%;

    width: 0.5rem;
    height: 0.5rem;

    animation: saveIndicatorAnimation 1s ease-in-out infinite alternate-reverse both;

    &.unsaved {
      background-color: #f44336;
    }

    &.saved {
      background-color: #4caf50;
    }
  }

  .current-task {
    position: absolute;
    bottom: 20vh;

    .task-label,
    .task-duration {
      margin: 1rem;
    }
  }

  .debug {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
    margin: 1rem;
    border: 2px solid red;
  }
}

body:not(.loaded) {
  filter: grayscale(1);
  .buttons .btn {
    transform: translateX(5rem);
    opacity: 0;
  }

  .time {
    opacity: 0;
    transform: translate(-50%, -50%) translateY(1rem);
  }

  .save-indicator {
    top: 1.25rem;
    right: 1.25rem;
    width: 0rem;
    height: 0rem;
  }

  .current-task {
    opacity: 0;
    transform: translateY(0.5rem);
  }
}

@keyframes saveIndicatorAnimation {
  from {
    top: 1rem;
    right: 1rem;
    width: 0.5rem;
    height: 0.5rem;
  }

  from {
    top: 0.75rem;
    right: 0.75rem;
    width: 1rem;
    height: 1rem;
  }
}
